//styling ready.component.html

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1{
    text-align: center;
    margin:0 auto;
    font-family: 'Alata', sans-serif;
    font-size: 40px;
    padding: 90px 10px 50px 10px;
}

.center-block{
    font-size:30px;
    button{
        background: rgb(88, 211, 16);
        padding: 20px 70px;
        font-family: 'Bangers', cursive;
        font-size: 40px;
        display: block;
        margin-top: 10px;
        margin: auto;
        border-style: hidden;
        &:hover{
            background: darken(rgb(88, 211, 16), 10%);
        }
    }
}

.play-container{
    font-size:20px;
    
}