/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
$primary: rgb(181, 14, 78);

header{
    background: $primary;
    padding: 1em 0;
    text-align: center;
    font-size: 40px;
    a{
        color: white;
        text-decoration: none;
    }
    a.logo{
        font-family: 'Bangers', cursive;
        font-size: 200%;
    }

}